<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AngularJS script demo application</title>

    <link rel="stylesheet" href="css/app.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive crip-grid" ng-controller="SomeGridController">
                            <form>
                                <div class="input-group">
                                    <label class="input-group-addon" for="grid-filters-id">Filter by ID</label>
                                    <input type="text" id="grid-filters-id" class="form-control"
                                           ng-model="grid.filters.id">
                                </div>
                                <br>

                                <div class="input-group">
                                    <label class="input-group-addon" for="grid-filters-text">Filter by text</label>
                                    <input type="text" id="grid-filters-text" class="form-control"
                                           ng-model="grid.filters.text">
                                </div>
                            </form>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th crip-grid-th="grid" crip-name="id">#</th>
                                    <th crip-grid-th="grid" crip-name="text">Text</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in grid.data">
                                    <td><span ng-bind="item.id"></span></td>
                                    <td><span ng-bind="item.text"></span></td>
                                </tr>
                                </tbody>
                            </table>

                            <div crip-grid-per-page="grid"></div>
                            <div crip-grid-pagination="grid.pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive crip-grid" ng-controller="SomeOtherGridController">
                            <div crip-grid-pagination="grid.pagination"></div>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th crip-grid-th="grid" crip-name="id">#</th>
                                    <th crip-grid-th="grid" crip-name="text">Text</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in grid.data">
                                    <td><span ng-bind="item.id"></span></td>
                                    <td><span ng-bind="item.text"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div crip-grid-pagination="grid.pagination"></div>

                            <div crip-grid-per-page="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="application/javascript" src="js/vendor.js"></script>
<script type="application/javascript" src="js/app.js"></script>

</body>
</html>